<form method="post" action="{{ path('front_front_delete', {'id': front.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ front.id) }}">
    <button class="btn">Delete</button>
</form>
